{% extends 'base.html'%}
{% load static %}
{% block content%}

<div style="font-family: XW_Zar_Bd_0;">


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    {% if messages %}
    {% for message in messages %}
    const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 9000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
        }
    });
    Toast.fire({
        icon: "success",
        title: " {{ message }}"
    });
    {% endfor %}
{% endif %}
</script>
<br>
<h3>سفارش‌های مشتری: {{ customer.name }}</h3>
<br>

<h4>لیست سفارش‌ها</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>شناسه</th>
            <th>وضعیت</th>
            <th>مجموع مبلغ</th>
            <th>تاریخ ایجاد</th>
            <th>عملیات</th>


        </tr>
    </thead>
    <tbody>
        {% for order in customer_orders %}
        <tr class="
        {% if order.status == 'complete' %}
            table-success
        {% elif order.status == 'pending' %}
            table-warning
        {% elif order.status == 'cancel' %}
            table-danger
        {% endif %}
    ">
        <td>{{ order.id }}</td>
        <td>{{ order.get_status_display }}</td>
        <td>{{ order.total_amount }}</td>
        <td>{{ order.created_at }}</td>
        <td>
            <form method="post" action="{% url 'Customer:customer_order_detail' customer.slug %}">
                {% csrf_token %}
                <input type="hidden" name="order_id" value="{{ order.id }}">
                <select name="status" class="form-control">
                    <option value="pending" {% if order.status == 'pending' %}selected{% endif %}>در انتظار</option>
                    <option value="cancel" {% if order.status == 'cancel' %}selected{% endif %}>لغو شده</option>
                    <option value="complete" {% if order.status == 'complete' %}selected{% endif %}>تکمیل شده</option>
                </select>
                <button type="submit" class="btn btn-primary mt-2">بروزرسانی</button>
            </form>
        </td>
    </tr>
    
        {% empty %}
        <tr>
            <td colspan="4">هیچ سفارشی یافت نشد.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>موارد سفارش‌ها</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>شناسه سفارش</th>
            <th>محصول</th>
            <th>تعداد</th>
            <th>قیمت واحد</th>
            <th>مجموع قیمت</th>
            <th>تعلق </th>

        </tr>
    </thead>
    <tbody>
        {% for order_item in customer_order_items %}
        <tr class="
        {% if order_item.order.status == 'complete' %}
            table-success
        {% elif order_item.order.status == 'pending' %}
            table-warning
        {% elif order_item.order.status == 'cancel' %}
            table-danger
        {% endif %}
    ">
        <td>{{ order_item.order.id }}</td>
        <td>{{ order_item.product }}</td>
        <td>{{ order_item.quantity }}</td>
        <td>{{ order_item.price_per_unit }}</td>
        <td>{{ order_item.total_amount }}</td>
        <td>این ریکارد متعلق به سفارش شماره {{ order_item.order.id }} است</td>
    </tr>
    
        {% empty %}
        <tr>
            <td colspan="5">هیچ موردی یافت نشد.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>


{% endblock %}