{% extends 'base.html'%}
{% load static %}
{% block content%}








<div class="container-xxl flex-grow-1 container-p-y" style="font-family: XW_Zar_Bd_0;">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        {% if messages %}
        {% for message in messages %}
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 9000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: "success",
            title: " {{ message }}"
        });
        {% endfor %}
    {% endif %}
    </script>


    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light"></span>مدیریت بخش مصارفات</h4>
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card text-left">
                <div class="card-body">
                    <h4 class="card-title mb-3">لیست تمام پول های گرقته شده</h4>
                    <h4 class="card-title mb-3">لیست پول های داده شده {{name}} مساوی است به   {{total_expenses}} </h4>
                    <div class="col-lg-12 text-right">
                        {% if find_reamin_amount > 0 %}
                        <button class="btn btn-info btn-lg m-1" type="button" data-toggle="modal"
                   data-target="#exampleModal">
                  دادن پول بافی

                    </button>
                    {% endif %}
                        <a class="btn btn-info btn-lg m-1" type="button" href="javascript:history.back()">
                            بازگشت

                   </a>
                   

                    </div>
                  
                    
                    <br>
                    <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                
                            </div>


                            <div>

                            <table class="table table-striped custom-table table-nowrap mb-0" id="alternative_pagination_table">
                                <thead>
                                    <tr>
                                        <th>شماره</th>

                                        <th>تاریخ</th>
                                        <th>مقدار</th>
                                        <th>توضیحات</th>
                                        <th>عملیات</th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in my_data %}
                                    <tr>
                                        <td>
                                            {{i.id}}
                                         </td>
                                        <td>
                                           {{i.datea}}
                                        </td>
                                        <td>{{i.amounta}}</td>
                                        <td>{{i.descriptiona}}</td>
                                    
                                        <td class="">
                                            <button class="btn bg-transparent _r_btn border-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="_dot _r_block-dot bg-dark"></span><span class="_dot _r_block-dot bg-dark"></span><span class="_dot _r_block-dot bg-dark"></span></button>
                                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(115px, 188px, 0px);">
                                                
                                                <a class="dropdown-item" href="{% url 'Customer:edit_customer' i.id %}"><i class="nav-icon i-Pen-2 text-success font-weight-bold mr-2"></i>تغیرات</a>
                                         
                                            <a 
                                            class="dropdown-item delete-button" 
                                            href="{% url 'Customer:delete_customer' i.id %}" 
                                            onclick="return confirmDelete(this);">
                                            <i class="nav-icon i-Close-Window text-danger font-weight-bold mr-2"></i>
                                            حذف مشتری
                                            </a>

                                            <script>
                                            // JavaScript function to show confirmation dialog
                                            function confirmDelete(link) {
                                                const confirmed = confirm("آیا مطمئن هستید که می‌خواهید این مشتری را حذف کنید؟");
                                                return confirmed; // If true, the link will proceed; if false, it will be canceled.
                                            }
                                            </script>

                                            </div>
                                        </td>

                                        
                                        
                                    </tr>
                                    {% endfor %}
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of col-->

    <!-- end of col-->
</div>

<!--  Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> دادن پول</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true"></span></button>
            </div>
    
            <div class="modal-body">
                <form class="needs-validation"  novalidate="novalidate" action="#" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-6 mb-6">
                            <label for="validationCustom01">   تاریخ</label>
                            {{my_form.datea}}
                        </div>
                        <div class="col-md-6 mb-6">
                            <label for="validationCustomUsername"> مقدار</label>
                            <div class="input-group">
                                {{my_form.amounta}}
                            </div>
                        </div>
                 
                        <div class="col-md-12 mb-12">
                            <label for="validationCustomUsername">توضیحات</label>
                            <div class="input-group">
                                {{my_form.descriptiona}}
                            </div>
                        </div>

                    </div>  

                    <style>
                        .center-align {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            height: 100%;
                        }
                    </style>
                    
                    <button class="btn btn-primary" type="submit">ذخیره کردن</button>
                </form>



            </div>
        </div>
    </div>
</div>
<!--  Modal -->

{% endblock %}