{% extends 'base.html'%}
{% load static %}
{% block content%}

<style>
    .dashboard-record-table {
        min-width: max-content;
        white-space: nowrap;
    }
</style>

<body class="text-left">

    

    <div class="main-content pt-4">
        <div class="main-content pt-4">
            <div class="row mb-4">
                <div class="col-md-6 mb-4">
                    <div class="card text-left">
                        
                        <div class="col-md-12">
                            <a href="{% url 'purchase:log_in_our_system' %}" class="btn btn-primary btn-block m-1 mb-3">جستجو</a>                                                         
                        </div>
                     
                        <div class="card-body">
                            <h4 class="card-title mb-3" style="font-family: 'XW_Zar_Bd_0', sans-serif;">راپور روزانه تمام خرید ها </h4>
                            
                            <form method="GET" action="{% url 'Home:dashboard' %}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select name="month" id="month" class="form-control mt-2">
                                                <option value="" {% if selected_month == '' %}selected{% endif %}>فیلتر بر اساس زمان </option>
                                                <option value="روزانه" {% if selected_month == 'روزانه' %}selected{% endif %}>روزانه</option>
                                                <option value="هفتگی" {% if selected_month == 'هفتگی' %}selected{% endif %}>هفتگی</option>
                                                <option value="ماهانه" {% if selected_month == 'ماهانه' %}selected{% endif %}>ماهانه</option>
                                            </select>
                                        </div>
                                    </div>               
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                           <button class="btn btn-primary btn-block m-1 mb-3" style="font-family: 'XW_Zar_Bd_0', sans-serif;" type="submit">جستجو</button>                                                         
                                        </div>
                                    </div>
                            </form>
                            <p style="font-family: 'XW_Zar_Bd_0', sans-serif;">
                                شما تمام خریداری های امروزی را در اینجا میتوانید ببینید
                            </p>
                            <div class="table-responsive">
                                <table class="display table table-striped table-bordered dashboard-record-table"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>تهیه کننده</th>
                                            <th>محصول</th>
                                            <th>مقدار</th>
                                            <th>وزن</th>
                                            <th>قیمت فی واحد</th>
                                            <th>مجموعه پول</th>
                                            <th>پول پرداخت شده</th>
                                            <th>پول باقی</th>
                                            <th>نوع محاسبه</th>
                                            <th>تاریخ خرید</th>
                                            <th>تاریخ ثبت</th>
                                            <th>جزئیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for purchase in purchases %}
                                            <tr>
                                                <td>{{ purchase.id }}</td>
                                                <td>{{ purchase.supplaier }}</td>
                                                <td>{{ purchase.product }}</td>
                                                <td>{{ purchase.quantity }}</td>
                                                <td>{{ purchase.wegiht }}</td>
                                                <td>{{ purchase.price_per_unit }}</td>
                                                <td>{{ purchase.total_unit }}</td>
                                                <td>{{ purchase.paid_amount }}</td>
                                                <td>{{ purchase.remain_amount }}</td>
                                                <td>{{ purchase.status }}</td>
                                                <td>{{ purchase.date }}</td>
                                                <td>{{ purchase.reg_date }}</td>
                                                <td>{{ purchase.details }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            


            <div class="col-md-6 mb-4">
                <div class="card text-left">
                    <div class="card-body">
                        <h4 class="card-title mb-3" style="font-family: 'XW_Zar_Bd_0', sans-serif;" >راپور روزانه تمام فروش ها</h4>
                        <form method="GET" action="{% url 'Home:dashboard' %}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select name="day" id="day" class="form-control mt-2">
                                            <option value="" {% if selected_month == '' %}selected{% endif %}>فیلتر بر اساس زمان </option>
                                            <option value="روزانه" {% if selected_month == 'روزانه' %}selected{% endif %}>روزانه</option>
                                            <option value="هفتگی" {% if selected_month == 'هفتگی' %}selected{% endif %}>هفتگی</option>
                                            <option value="ماهانه" {% if selected_month == 'ماهانه' %}selected{% endif %}>ماهانه</option>
                                        </select>
                                    </div>
                                </div>               
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                       <button class="btn btn-primary btn-block m-1 mb-3" style="font-family: 'XW_Zar_Bd_0', sans-serif;" type="submit">جستجو</button>                                                         
                                    </div>
                                </div>
                        </form>
                        <p style="font-family: 'XW_Zar_Bd_0', sans-serif;"> شما تمام فروش های امروزی را در اینجا میتوانید ببینید</p>
                        <div class="table-responsive">
                            <table class="display table table-striped table-bordered dashboard-record-table"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>اسم مشتری</th>
                                        <th>تاریخ فروش</th>
                                        <th>نام محصول</th>
                                        <th>مقدار</th>
                                        <th>وزن</th>
                                        <th>قیمت فی واحد</th>
                                        <th>جمله پول</th>
                                        <th>پول پرداخت شده</th>
                                        <th>باقی پول</th>
                                        <th>نوع محاسبه</th>
                                        <th>توضیحات</th>
                                        <th>تایید پول</th>
                                        <th>باقی همین ریکارد</th>
                                        <th>مجموع پرداخت بل</th>
                                        <th>مجموع باقی بل</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    {% for sell in sells %}
                                    <tr>
                                        <td>{{ sell.id }}</td>
                                        <td> {{ sell.sell_forei.customer.name }}</td>
                                        <td>{{ sell.sell_forei.reg_date }}</td>
                                        <td>{{ sell.product.meat_name }}</td>
                                        <td>{{ sell.quantity }}</td>
                                        <td>{{ sell.weight }}</td>
                                        <td>{{ sell.price_per_unit }}</td>
                                        <td>{{ sell.should_paid }}</td>
                                        <td>{{ sell.paid_amount_for_every_record }}</td>
                                        <td>{{ sell.borrow_amount }}</td>
                                        <td>{{ sell.status }}</td>
                                        <td>{{ sell.notes }}</td>
                                        <td>{{ sell.is_money_approved|yesno:"تایید شده,تایید نشده" }}</td>
                                        <td>{{ sell.reamin_amount_according_to_sale_record }}</td>
                                        <td>{{ sell.sell_forei.total_paid_amount }}</td>
                                        <td>{{ sell.sell_forei.total_remain_amount }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <div class="row mb-4">
                <div class="col-md-6 mb-4">
                    <div class="card text-left">
                        <div class="card-body">
                            <h4 class="card-title mb-3" style="font-family: 'XW_Zar_Bd_0', sans-serif;">راپور روزانه تمام مصارف ها </h4>
                            <form method="GET" action="{% url 'Home:dashboard' %}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select name="month" id="month" class="form-control mt-2">
                                                <option value="" {% if selected_month == '' %}selected{% endif %}>فیلتر بر اساس زمان </option>
                                                <option value="روزانه" {% if selected_month == 'روزانه' %}selected{% endif %}>روزانه</option>
                                                <option value="هفتگی" {% if selected_month == 'هفتگی' %}selected{% endif %}>هفتگی</option>
                                                <option value="ماهانه" {% if selected_month == 'ماهانه' %}selected{% endif %}>ماهانه</option>
                                            </select>
                                        </div>
                                    </div>               
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                           <button class="btn btn-primary btn-block m-1 mb-3"style="font-family: 'XW_Zar_Bd_0', sans-serif;" type="submit">جستجو</button>                                                         
                                        </div>
                                    </div>
                            </form>
                            <p style="font-family: 'XW_Zar_Bd_0', sans-serif;">
                                شما تمام خریداری های امروزی را در اینجا میتوانید ببینید
                            </p>
                            <div class="table-responsive">
                                <table class="display table table-striped table-bordered dashboard-record-table"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th> اسم </th>
                                            <th>مقدار</th>
                                            <th>تاریخ</th>
                                            <th>مجموع مقدار</th>
                                            <th>باقی مقدار</th>
                                            <th>توضیحات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for purchase in masarefat %}
                                            <tr>
                                                <td>{{ purchase.id }}</td>
                                                <td>{{ purchase.name }}</td>
                                                <td>{{ purchase.amount }}</td>
                                                <td>{{ purchase.date }}</td>
                                                <td>{{ purchase.total_amount }}</td>
                                                <td>{{ purchase.reamin_amonts }}</td>
                                                <td>{{ purchase.description }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            


            <div class="col-md-6 mb-4">
                <div class="card text-left">
                    <div class="card-body">
                        <h4 class="card-title mb-3" style="font-family: 'XW_Zar_Bd_0', sans-serif;">راپور روزانه تمام عواید  </h4>
                        <form method="GET" action="{% url 'Home:dashboard' %}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select name="day" id="day" class="form-control mt-2">
                                            <option value="" {% if selected_month == '' %}selected{% endif %}>فیلتر بر اساس زمان </option>
                                            <option value="روزانه" {% if selected_month == 'روزانه' %}selected{% endif %}>روزانه</option>
                                            <option value="هفتگی" {% if selected_month == 'هفتگی' %}selected{% endif %}>هفتگی</option>
                                            <option value="ماهانه" {% if selected_month == 'ماهانه' %}selected{% endif %}>ماهانه</option>
                                        </select>
                                    </div>
                                </div>               
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                       <button class="btn btn-primary btn-block m-1 mb-3" style="font-family: 'XW_Zar_Bd_0', sans-serif;"type="submit">جستجو</button>                                                         
                                    </div>
                                </div>
                        </form>
                        <p style="font-family: 'XW_Zar_Bd_0', sans-serif;"> شما تمام فروش های امروزی را در اینجا میتوانید ببینید</p>
                        <div class="table-responsive">
                            <table class="display table table-striped table-bordered dashboard-record-table"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>اسم دهنده پول</th>   
                                        <th>تاریخ دریافت</th>
                                        <th>واحد پولی</th>
                                        <th>نرخ تبادله</th>
                                        <th>مقدار</th>
                                        <th>مجموع با ریکارد قبلی</th>
                                        <th>پول تبدیل شده</th>
                                        <th>نوع دریافت/پرداخت</th>
                                        <th> توضیحات</th>
                                        <th>حالت داخلی</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    {% for sell in awayed %}
                                    <tr>
                                        <td>{{ sell.id }}</td>
                                        <td>{{ sell.olabrate.name_opf }}</td>
                                        <td>{{ sell.rec_date }}</td>
                                        <td>{{ sell.curr }}</td>
                                        <td>{{ sell.exchagne_rate }}</td>
                                        <td>{{ sell.income_amount }}</td>
                                        <td>{{ sell.total_incme_with_last_record }}</td>
                                        <td>{{ sell.exchanged_moneey }}</td>
                                        <td>{{ sell.is_income_or_outcome }}</td>
                                        <td>{{ sell.descriiption }}</td>
                                        <td>{{ sell.blooelean_field }}</td>
                                      
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



            {% endblock %}
