{% extends 'base.html'%}
{% load static %}
{% block content%}

<body class="text-left">

    

    <div class="main-content pt-4">
        <div class="main-content pt-4">
            <div class="row mb-4">
                <div class="col-md-6 mb-4">
                    <div class="card text-left">
                        
                        <div class="col-md-12">
                            <a href="{% url 'purchase:log_in_our_system' %}" class="btn btn-primary btn-block m-1 mb-3">جستجو</a>                                                         
                        </div>
                     
                        <div class="card-body">
                            <h4 class="card-title mb-3" style="font-family: 'XW_Zar_Bd_0', sans-serif;">راپور روزانه تمام خرید ها </h4>
                            
                            <form method="GET" action="{% url 'Home:dashboard' %}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select name="month" id="month" class="form-control mt-2">
                                                <option value="" {% if selected_month == '' %}selected{% endif %}>فیلتر بر اساس زمان </option>
                                                <option value="روزانه" {% if selected_month == 'روزانه' %}selected{% endif %}>روزانه</option>
                                                <option value="هفتگی" {% if selected_month == 'هفتگی' %}selected{% endif %}>هفتگی</option>
                                                <option value="ماهانه" {% if selected_month == 'ماهانه' %}selected{% endif %}>ماهانه</option>
                                            </select>
                                        </div>
                                    </div>               
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                           <button class="btn btn-primary btn-block m-1 mb-3" style="font-family: 'XW_Zar_Bd_0', sans-serif;" type="submit">جستجو</button>                                                         
                                        </div>
                                    </div>
                            </form>
                            <p style="font-family: 'XW_Zar_Bd_0', sans-serif;">
                                شما تمام خریداری های امروزی را در اینجا میتوانید ببینید
                            </p>
                            <div class="table-responsive">
                                <table class="display table table-striped table-bordered" id="scroll_vertical_table"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>تهیه کننده</th>
                                            <th>محصول</th>
                                            <th>مقدار</th>
                                            <th>قیمت فی دانه</th>
                                            <th>مجموعه پول پرداخت شده</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for purchase in purchases %}
                                            <tr>
                                                <td>{{ purchase.id }}</td>
                                                <td>{{ purchase.supplaier }}</td>
                                                <td>{{ purchase.product }}</td>
                                                <td>{{ purchase.quantity }}</td>
                                                <td>{{ purchase.price_per_unit }}</td>
                                                <td>{{ purchase.total_unit }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            


            <div class="col-md-6 mb-4">
                <div class="card text-left">
                    <div class="card-body">
                        <h4 class="card-title mb-3" style="font-family: 'XW_Zar_Bd_0', sans-serif;" >راپور روزانه تمام فروش ها</h4>
                        <form method="GET" action="{% url 'Home:dashboard' %}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select name="day" id="day" class="form-control mt-2">
                                            <option value="" {% if selected_month == '' %}selected{% endif %}>فیلتر بر اساس زمان </option>
                                            <option value="روزانه" {% if selected_month == 'روزانه' %}selected{% endif %}>روزانه</option>
                                            <option value="هفتگی" {% if selected_month == 'هفتگی' %}selected{% endif %}>هفتگی</option>
                                            <option value="ماهانه" {% if selected_month == 'ماهانه' %}selected{% endif %}>ماهانه</option>
                                        </select>
                                    </div>
                                </div>               
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                       <button class="btn btn-primary btn-block m-1 mb-3" style="font-family: 'XW_Zar_Bd_0', sans-serif;" type="submit">جستجو</button>                                                         
                                    </div>
                                </div>
                        </form>
                        <p style="font-family: 'XW_Zar_Bd_0', sans-serif;"> شما تمام فروش های امروزی را در اینجا میتوانید ببینید</p>
                        <div class="table-responsive">
                            <table class="display table table-striped table-bordered"
                                id="scroll_vertical_dynamic_height_table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>اسم مشتری</th>
                                        <th>نام محصول</th>
                                        <th>مقدار</th>
                                        <th>مقدار کلی</th>
                                        <th>مقدار فی واحد</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    {% for sell in sells %}
                                    <tr>
                                        <td>{{ sell.id }}</td>
                                        <td> {{ sell.sell_forei.customer.name }}</td>
                                        <td>{{ sell.product.meat_name }}</td>
                                        <td>{{ sell.quantity }}</td>
                                        <td>{{ sell.should_paid }}</td>
                                        <td>{{ sell.price_per_unit }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <div class="row mb-4">
                <div class="col-md-6 mb-4">
                    <div class="card text-left">
                        <div class="card-body">
                            <h4 class="card-title mb-3" style="font-family: 'XW_Zar_Bd_0', sans-serif;">راپور روزانه تمام مصارف ها </h4>
                            <form method="GET" action="{% url 'Home:dashboard' %}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select name="month" id="month" class="form-control mt-2">
                                                <option value="" {% if selected_month == '' %}selected{% endif %}>فیلتر بر اساس زمان </option>
                                                <option value="روزانه" {% if selected_month == 'روزانه' %}selected{% endif %}>روزانه</option>
                                                <option value="هفتگی" {% if selected_month == 'هفتگی' %}selected{% endif %}>هفتگی</option>
                                                <option value="ماهانه" {% if selected_month == 'ماهانه' %}selected{% endif %}>ماهانه</option>
                                            </select>
                                        </div>
                                    </div>               
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                           <button class="btn btn-primary btn-block m-1 mb-3"style="font-family: 'XW_Zar_Bd_0', sans-serif;" type="submit">جستجو</button>                                                         
                                        </div>
                                    </div>
                            </form>
                            <p style="font-family: 'XW_Zar_Bd_0', sans-serif;">
                                شما تمام خریداری های امروزی را در اینجا میتوانید ببینید
                            </p>
                            <div class="table-responsive">
                                <table class="display table table-striped table-bordered" id="scroll_vertical_table"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th> اسم </th>
                                            
                                            <th>مقدار</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for purchase in masarefat %}
                                            <tr>
                                                <td>{{ purchase.id }}</td>
                                                <td>{{ purchase.name }}</td>
                                                <td>{{ purchase.amount }}</td>
                                               
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            


            <div class="col-md-6 mb-4">
                <div class="card text-left">
                    <div class="card-body">
                        <h4 class="card-title mb-3" style="font-family: 'XW_Zar_Bd_0', sans-serif;">راپور روزانه تمام عواید  </h4>
                        <form method="GET" action="{% url 'Home:dashboard' %}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select name="day" id="day" class="form-control mt-2">
                                            <option value="" {% if selected_month == '' %}selected{% endif %}>فیلتر بر اساس زمان </option>
                                            <option value="روزانه" {% if selected_month == 'روزانه' %}selected{% endif %}>روزانه</option>
                                            <option value="هفتگی" {% if selected_month == 'هفتگی' %}selected{% endif %}>هفتگی</option>
                                            <option value="ماهانه" {% if selected_month == 'ماهانه' %}selected{% endif %}>ماهانه</option>
                                        </select>
                                    </div>
                                </div>               
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                       <button class="btn btn-primary btn-block m-1 mb-3" style="font-family: 'XW_Zar_Bd_0', sans-serif;"type="submit">جستجو</button>                                                         
                                    </div>
                                </div>
                        </form>
                        <p style="font-family: 'XW_Zar_Bd_0', sans-serif;"> شما تمام فروش های امروزی را در اینجا میتوانید ببینید</p>
                        <div class="table-responsive">
                            <table class="display table table-striped table-bordered"
                                id="scroll_vertical_dynamic_height_table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>اسم دهنده پول</th>   
                                        <th>مقدار</th>
                                        <th> توضیحات</th>
                                    </tr>
                                </thead>
                                <tbody> 
                                    {% for sell in awayed %}
                                    <tr>
                                        <td>{{ sell.id }}</td>
                                        <td>{{ sell.olabrate.name_opf }}</td>
                                        <td>{{ sell.income_amount }}</td>
                                        <td>{{ sell.descriiption }}</td>
                                      
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



            {% endblock %}