{%load static%}

<!-- ============ Search UI End ============= -->
<script src="{% static 'js/plugins/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/plugins/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'js/scripts/tooltip.script.min.js' %}"></script>
<script src="{% static 'js/scripts/script.min.js' %}"></script>
<script src="{% static 'js/scripts/script_2.min.js' %}"></script>
<script src="{% static 'js/scripts/sidebar.large.script.min.js' %}"></script>
<script src="{% static 'js/plugins/feather.min.js' %}"></script>
<script src="{% static 'js/plugins/metisMenu.min.js' %}"></script>
<script src="{% static 'js/scripts/layout-sidebar-vertical.min.js' %}"></script>
<script src="{% static 'js/plugins/echarts.min.js' %}"></script>
<script src="{% static 'js/scripts/echart.options.min.js' %}"></script>
<script src="{% static 'js/plugins/datatables.min.js' %}"></script>
<script src="{% static 'js/scripts/dashboard.v4.script.min.js' %}"></script>
<script src="{% static 'js/scripts/widgets-statistics.min.js' %}"></script>
<script src="{% static 'js/plugins/apexcharts.min.js' %}"></script>
<script src="{% static 'js/scripts/apexSparklineChart.script.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.smartWizard.min.js' %}"></script>
<script src="{% static 'js/scripts/smart.wizard.script.min.js' %}"></script>
<script src="{% static 'js/plugins/datatables.min.js'%}"></script>
<script src="{% static 'js/scripts/datatables.script.min.js'%}"></script>
<script src="{% static 'js/scripts/form.validation.script.min.js' %}"></script>
<script src="{% static 'js/plugins/sweetalert2.min.js' %}"></script>
<script src="{% static 'js/scripts/sweetalert.script.min.js' %}"></script>




<!-- <script src="{% static 'js/jalali/django_jalali.min.js' %}"></script> -->
<script src="{% static 'js/jalali/jquery.ui.core.js' %}"></script>
<script src="{% static 'js/jalali/jquery.ui.datepicker-cc.js' %}"></script>
<script src="{% static 'js/jalali/jquery.ui.datepicker-cc-fa.js' %}"></script>
<script src="{% static 'js/jalali/calendar.js' %}"></script>
<script src="{% static 'js/jalali/calendar.all.js' %}"></script>



<!-- new version -->

<!-- <script src="{% static 'js/plugins/jquery-3.3.1.min.js' %}"></script> -->
<script src="{% static 'js/plugins/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'js/scripts/script.min.js' %}"></script>
<script src="{% static 'js/scripts/sidebar-horizontal.script.js' %}"></script>
<script src="{% static 'js/plugins/echarts.min.js' %}"></script>
<script src="{% static 'js/scripts/echart.options.min.js' %}"></script>
<script src="{% static 'js/scripts/dashboard.v1.script.min.js' %}"></script>
</body>









