{% extends 'base.html'%}
{% load static %}
{% block content%}


<div class="main-content pt-4" style="font-family: XW_Zar_Bd_0;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} text-center h3" role="alert">
        {{ message }}
    </div>
    <script>
        setTimeout(function () {
            $('.alert').fadeOut('slow');
        }, 3000); // 3 seconds
    </script>
    {% endfor %}
    {% endif %}
    <div class="breadcrumb">
        <h1>اصلاح کردن  شرکا</h1>
        <!-- <ul>
            <li><a href="href">ب</a></li>
            <li>د عواید اصلاح کول</li>
        </ul> -->
    </div>
    
    <div class="row">
      
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title mb-3"></div>

                    <form class="needs-validation" novalidate="novalidate" action="{% url 'Finance_and_Accounting:edit_collaborators' find_collaborator.id %}" method="POST" enctype="multipart/form-data">
                    



                        <div class="form-row">

                            {% csrf_token %}
                            {{ form.as_p }}

                          
                       
                        
                        </div>  
                        
                        
    
    
    
                        
                        <style>
                            .center-align {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                height: 100%;
                            }
                        </style>
                        
                        
                        
    
    
                        
                        <button class="btn btn-primary" type="submit">ذخیره کردن</button>
                    </form>



                    
                </div>
            </div>
        </div>
        
        
        
        
        
        
    </div><!-- end of main-content -->
</div>




<script>
    const donationTypeField = document.getElementById("id_donation_type");
    const amountField = document.getElementById("amountField");
    const goodsField = document.getElementById("goodsField");
    const goodsAmmount = document.getElementById("good_ammount");
    const goodsUnit = document.getElementById("goods_unit");
    const details = document.getElementById("details");



    donationTypeField.addEventListener("change", function() {
        if (donationTypeField.value === "پیسه نغد") {
            amountField.style.display = "block";
            goodsField.style.display = "none";
            goodsAmmount.style.display = "none";
            goodsUnit.style.display = "none";
            details.style.display = "block";

        } else if (donationTypeField.value === "جنس") {
            amountField.style.display = "none";
            goodsField.style.display = "block";
            goodsAmmount.style.display = "block";
            goodsUnit.style.display = "block";
            details.style.display = "block";

        } else {
            amountField.style.display = "none";
            goodsField.style.display = "none";
            goodsUnit.style.display = "none";
            goodsAmmount.style.display = "none";
            details.style.display = "none";



        }
    });
</script>


{% endblock %}