{% extends 'base.html'%}
{% load static %}
{% block content%}




<div class="container-xxl flex-grow-1 container-p-y" style="font-family: XW_Zar_Bd_0;">


    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light"></span>نوعیت محصولات 
    </h4>
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card text-left">
                <div class="card-body">
                    <h4 class="card-title mb-3">اینجا شما میتوانید نوع محصول را ذخیره کنید</h4>
                    <div class="col-lg-12 text-right">
                        <button class="btn btn-info btn-lg m-1" type="button" data-toggle="modal"
                            data-target="#exampleModal">
                            نوعیت محصول جدید

                        </button>
                        <a href="{% url 'product_and_catagory:products' %}" class="btn btn-outline-dark m-1" type="button">بازگشت</a>


                    </div>
                    <br>
                    <!-- <p>ستا سو ثبت سوی اسعار</p> -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">نام</th>
                                    <th scope="col">تاریخ</th>
                                    <th scope="col">توضیحات</th>

                                    <th scope="col" style="padding-right: 65px;">عملیات</th>
                                </tr>
                            </thead>

                            {% for i in my_data %}
                            <tbody>
                                <tr>
                                    <th scope="row">{{i.id}}</th>
                                    <td>{{i.name}}</td>
                                    <td>{{i.reg_date}}</td>
                                    <td>{{i.description}}</td>

                                    <td>
                                   
                                        <a href="{% url 'product_and_catagory:edit_cetagory_product' i.id %}" class="btn btn-primary"
                                             data-toggle="modal" data-target="#editModal{{ i.id }}">
                                            <i class="nav-icon i-Pen-2"></i> تغیرات
                                        </a>

                                        <!-- Edit Modal -->
                                        <div class="modal fade" id="editModal{{ i.id }}" tabindex="-1" role="dialog"
                                            aria-labelledby="editModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editModalLabel">تغیرات در نوعیت محصول</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Form for editing currency -->
                                                        <form method="post"
                                                            action="{% url 'product_and_catagory:edit_cetagory_product' i.id %}">
                                                            {% csrf_token %}
                                                            <div class="col-md-12 form-group mb-3">
                                                                <label for="firstName1">نام</label>
                                                                <input class="form-control" name="name" type="text" value="{{ i.name }}">
                                                            </div>
                                                            <div class="col-md-12 form-group mb-3">
                                                                <label for="firstName1">توضیحات</label>
                                                                <input class="form-control" name="description" type="text" value="{{ i.description }}">
                                                            </div>
                                                        
                                                            <button type="submit" class="btn btn-primary">ذخیره کردن</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <a href="{% url 'product_and_catagory:delete_catagory_product' i.id %}" class="btn btn-danger"
                                            onclick="return confirm('آیا مطمئن هستید میخواهید نوعیت محصول را حذف نمایید؟');">
                                            حذف
                                        </a>

                                    </td>

                                </tr>


                            </tbody>
                            {% endfor %}



                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of col-->

        <!-- end of col-->
    </div>

    <!--  Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">نوعیت محصول را اینجا ذخیره کنید</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'product_and_catagory:produce_and_cata' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 form-group mb-3">
                                <label for="firstName1">نوعیت محصول</label>
                                {{my_form.name}}
                            </div>
                            <div class="col-md-12 form-group mb-3">
                                <label for="firstName1">تاریخ</label>
                                {{my_form.reg_date}}
                            </div>
                            <div class="col-md-12 form-group mb-3">
                                <label for="firstName1">توضیحات</label>
                                {{my_form.description}}
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">بسته نمودن</button>
                                <button class="btn btn-primary ml-2" type="submit">ذخیره کردن</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  

    {% endblock %}